:root{
  --grid-container-size: 960px;
  --grid-size: 16;
  /* --square-width: calc(var(--grid-container-size)/var(--grid-size));
  --square-width: calc(var(--grid-container-size)/var(--grid-size)); */

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#settings-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 5px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin: 2.5px;
  height: var(--grid-container-size);
}

#grid-size, #grid-size-label{
  display: inline;
}

#create-button{
  display: block;
}


#columns-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: var(--grid-container-size);
  height: var(--grid-container-size);
  max-width: var(--grid-container-size);
  max-height: var(--grid-container-size);
  border: 5px solid blue;
  margin: 2.5px;
}

.row-container {
  display: flex;
}

.grid-square {
  flex: 0 1 auto;
  min-width: 0;
  /* max-height: 44.833px; */
  width: calc(var(--grid-container-size) / var(--grid-size));x
  height: calc(var(--grid-container-size) / var(--grid-size));
  /* border: .5px solid blue; */
}

.highlighted {
  background-color: slategray;
}
