:root{
  --grid-container-size: 960px;
  --grid-size: 16;
  --highlighted-color: slategray;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#settings-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 7px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin: 2.5px;
  max-width: 250px;
  height: var(--grid-container-size);
  font-size: 24px;
}

#create-button, #bg-fill{
  width: 65px;
}

button{
  font-size: 18px;
}

#grid-size, #grid-size-label{
  display: inline;
}

#create-button, #bg-color-container, #m-color-container{
  display: block;
}

#bg-color-cont, 
#marker-mode>section,
#grid-cont,
#grid-size-container,
#m-color-cont{
  display: flex;
  justify-content: space-between;
}



#columns-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: var(--grid-container-size);
  height: var(--grid-container-size);
  max-width: var(--grid-container-size);
  max-height: var(--grid-container-size);
  border: 15px solid blue;
  border-radius: 10px;
  margin: 2.5px;
  padding: 5px;
}

.row-container {
  display: flex;
}

.grid-square {
  flex: 0 1 auto;
  min-width: 0;
  width: calc(var(--grid-container-size) / var(--grid-size));
  height: calc(var(--grid-container-size) / var(--grid-size));
  max-height: calc(var(--grid-container-size) / var(--grid-size));
  /* border: 1px solid blue; */
}

.grid-borders{
  /* border: 1px solid black; */
}

.highlighted {
  background-color: var(--highlighted-color);
}

.selected{
  font-style: bold;
}
